<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello Word, Welcome to the !</title>
</head>

<body>
    <div id="box2" class="tbox">
        <div id="form_box">
            <form id="subscribe_form" action="subscribe" method="post">
                <input class="tbox" id="subscribe_email" type="text" name="email" value="email address" />
                <input class="tbox" id="subscribe_submit" type="submit" value="Subscribe" />
            </form>
        </div>
    </div>
</body>
</html>