<!DOCTYPE html>
<form method="POST" action="/">
      {% csrf_token %}
      {{form.task_name}}
      <input type="submit" name="Create task"/>
</form>
  {% for task in tasks %}
      <div>
          <a href="{% url 'update-task' task.id %}">Update task</a>
          <a href="{% url 'delete' task.id %}">Delete task</a>
          {% if task.completed == True %}
          <strike>{{task}}</strike>
          {% else %}
          <span>{{task}}</span>
          {% endif %}
      </div>
  {% endfor %}


</html>
